*{
    margin: 0;
    padding: 0;
    outline: none;
}
body{
    position: relative;
    background-color: white;
    width: 100%;
    height: 100%;
}
*::-webkit-scrollbar{
    width: 6px;
    height: 4px;
    border-radius: 5px;
    background-color: #A6C1EE;
}

*::-webkit-scrollbar-thumb{
    background-color: #FBC2EBcc;
}
*::-webkit-scrollbar-thumb:hover{
    background-color: #FBC2EB;
}
#ui-canvas{
    position: fixed;

    /* 居中 */
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    max-height: 80%;
    overflow: auto;

    /* 自动处理缩放,保证中心画面在中心显示 */
	object-fit: cover;

    background-color: #00000055;
    background-size: cover;
    border: none;
    z-index: 1;
    box-shadow: 0 0 30px #fff;
}
#canvas{
    width: 80%;
    height: 80%;
}
#ui{
    width: 100%;
    height: 100%;
}
#ui>*:not(#ui-canvas){
    z-index: 2;
}
#ui-time{
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 4px;
    bottom: 0;
    width: 90%;
    height: 1cm;
    -webkit-transition: width .3s, height .3s;
    transition: width .3s, height .3s;
}
#ui-time-time{
    width: 2cm;
    height: 100%;
    margin: 0 4px;
    text-align: center;
    border: none;
    padding: 0 .25rem;
    -webkit-appearance: none;
    outline: none;
    background-image: linear-gradient(#FBC2EB,#A6C1EE);
    border-radius: 5px 0 0 0;
    box-shadow: 0 0 10px #00000088;
    -webkit-transition: height .3s;
    transition: height .3s;
}
#ui-time-audio{
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
    outline: none;
    background-image: linear-gradient(#FBC2EB,#A6C1EE);
    box-shadow: 0 0 10px #00000088;
    -webkit-transition: height .3s;
    transition: height .3s;
}
#ui-time-audio::-webkit-media-controls-enclosure{
    border-radius: 5px 0 0 0;
    background-color: #ffffff00;
    background-image: linear-gradient(#FBC2EB,#A6C1EE);
    box-shadow: 0 0 10px #00000088;
}
#ui-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: fixed;
    right: 0;
    top: 0;
    width: 10%;
    height: 100%;
    background-image: linear-gradient(#FBC2EB,#A6C1EE);
    box-shadow: 0 0 10px #00000088;
}
#ui-menu-toolbar{
    width: 100%;
    height: calc(100% - 2rem);
    overflow: auto;
}
.ui-menu-button,
.ui-menu-buttonFocus,
.ui-menu-list,
#ui-menu-toolbar-back{
    margin: .25rem 5%;
    width: 90%;
    height: auto;
    border-radius: 5px;
    padding: .25rem 0;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}
.ui-menu-button:hover,
.ui-menu-buttonFocus:hover:not(.ui-menu-buttonFocus[data-focus="true"]),
.ui-menu-list:hover,
#ui-menu-toolbar-back:hover{
    background-color: #ffffff66;
}
.ui-menu-buttonFocus[data-focus="true"]{
    background-color: #cceeff;
}
#ui-display{
    position: fixed;
    top: 4px;
    left: 0;
    width: 0.5cm;
    height: 60%;
    background-image: linear-gradient(#FBC2EB,#A6C1EE);
    border-radius: 0 5px 5px 0;
    text-align: center;
    overflow: auto;
    box-shadow: 0 0 10px #00000088;
    -webkit-transition: width .3s;
    transition: width .3s;
}
#ui-display::before{
    content: "显示及编辑";
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    width: 100%;
    height: 1.5rem;
    border-bottom: 1px solid #ffffff;
}
#ui-display:hover{
    width: 40%;
}
#ui-display>*{
    display: none;
}
#ui-display:hover li:not(.list){
    display: flex;
}
#ui-display:hover li.list{
    display: block;
}
#ui-display:hover::before{
    display: block;
}
#ui-display li{
    justify-content: space-between;
    align-items: center;
    margin: 2px 4px;
    padding: 4px 2px;
    border-radius: 5px;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}
#ui-display li:hover{
    background-color: #ffffff66;
}
#ui-display li.focus{
    background-color: #cceeff;
}
#ui>div,#ui>ul{
    -webkit-transition: all .3s;
    transition: all .3s;
}
#ui-edit{
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    z-index: 20;
    height: 100%;
    pointer-events: none;
}
#ui-edit-from{
    position: absolute;
    top: 0;
    left: -80%;
    width: 80%;
    min-height: 100%;
    height: auto;
    overflow: auto;
    z-index: 19;
    height: 100%;
    color: white;
    flex-direction: column;
    align-items: center;
    background-color: #00000044;
    background-image: linear-gradient(#FBC2EBaa,#A6C1EEaa);
    -webkit-transition: left .5s ease-in-out, box-shadow .5s ease-in-out;
    transition: left .5s ease-in-out, box-shadow .5s ease-in-out;
}
.info{
    width: 90%;
    min-height: 1.5rem;
    display: flex;
    flex-direction: column;
    background-color: #ffffff44;
    height: auto;
    box-shadow: 0 0 8rem #ffffff44 inset;
    backdrop-filter: blur(15px);
    padding: 6px 10px 16px;
    margin: 4px auto;
    border-radius: 8px;
}
.info-form{
    width: 100%;
    min-height: 1.25rem;
    height: auto;
    margin-top: 10px;
    font-size: 1.125rem;
    display: flex;
    justify-content: space-between;
}
.info-input-num,.info-input-text{
    border: none;
    border-bottom: 2px solid #ffffff;
    background-color: #ffffff00;
    border-radius: 4px;
    color: white;
    padding: 2px .5rem;
    text-align: center;
    -webkit-transition: border .3s;
    transition: border .3s;
}
.info-input-num:hover,.info-input-text:hover{
    border-bottom: 2px solid #ffe9f9;
}
.info-input-num:focus,.info-input-text:focus{
    border-bottom: 2px solid #FBC2EB;
}
.info-input-col{
    border: 2px solid #ffffff;
    background-color: #ffffff00;
    border-radius: 4px;
    text-align: center;
    -webkit-transition: border .3s;
    transition: border .3s;
}
.info-input-col:hover{
    border: 2px solid #ffe9f9;
}
.info-input-col:focus{
    border: 2px solid #FBC2EB;
}
.info-input-num:disabled,.info-input-text:disabled{
    color: #dedede;
    border-bottom: 2px solid #dedede;
}
.info-input-radlist{
    width: 50%;
}
.info-input-radlist>div{
    display: flex;
    justify-content: space-between;
}
#ui-edit::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 17;
    background-color: #ffffff22;
    backdrop-filter: blur(10px);
    box-shadow: none;
    opacity: 0;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}
#ui-edit-bezier{
    position: fixed;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    overflow: auto;
    border: none;
    border-radius: 8px;
    width: 35%;
    height: 80%;
    z-index: 21;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}
#ui-edit.focus>#ui-edit-bezier{
    opacity: 1;
    pointer-events: fill;
}
#ui-edit-display{
    position: absolute;
    left: -1.25rem;
    bottom: 17.5%;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    font-size: 2rem;
    background-image: linear-gradient(#FBC2EB,#A6C1EE);
    box-shadow: 0 0 10px white;
    transform: rotate(45deg);
    pointer-events: fill;
    z-index: 20;
    -webkit-transition: left .5s ease-in-out, transform .5s ease-in-out;
    transition: left .5s ease-in-out, transform .5s ease-in-out;
}
#ui-edit.focus{
    pointer-events: fill;
}
#ui-edit.focus>#ui-edit-from{
    left: 0;
    box-shadow: 0 0 20px white;
}
#ui-edit.focus::before{
    opacity: 1;
}
#ui-edit.focus #ui-edit-display{
    left: calc(80% - 1rem);
    transform: rotate(-135deg);
}
html{
    font-size: 90%;
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-touch-callout:none;  
    -webkit-user-select:none;  
    -khtml-user-select:none;  
    -moz-user-select:none;  
    -ms-user-select:none;
    user-select:none;
}
html,body{
    -moz-user-select : none;
    -webkit-user-select: none;
    user-select: none;
}
body{
    position: fixed;
    background-color: black;
    font-family: Phigros, Phigros cn, Tw Cen MT;
    top: 50vh;
    transform: translateY(-50%);
    max-height: 85vw;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-size: 100%;
}
body[landspace="true"]{
    position: fixed;
    background-color: black;
    font-family: Phigros, Phigros cn, Tw Cen MT;
    left: 50vw;
    transform: translate(-50%, -50%) rotate(90deg);
    max-height: 85vh;
    width: 100vh;
    height: 100vw;
    overflow: hidden;
    font-size: 100%;
}
#bg{
    top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
    z-index: -16;
}
#blur{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000066;
    backdrop-filter: blur(15px);
    z-index: -15;
}
#infoList{
    position: absolute;
    height: 90%;
    width: 16rem;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
}
#infoList,#infoList *{
    z-index: 64;
    pointer-events: none;
    color: white;
}
.infos{
    text-align: center;
    word-wrap: break-word;
    margin-bottom: 5px;
    padding: 2px 0;
    max-height: 6rem;
    transform: skew(-15deg);
    background-color: #bbbbbbdd;
    border-left: 4px solid;
    border-right: 4px solid;
    border-color: white;
    box-shadow: 0 0 20px #bbbbbbdd;
    overflow: hidden;
}
.info-info{
    background-color: #00bbbbdd;
    border-color: #00ffff;
    box-shadow: 0 0 20px #00bbbbdd;
}
.info-good{
    background-color: #00bb00dd;
    border-color: #00ff00;
    box-shadow: 0 0 20px #00bb00dd;
}
.info-warning{
    background-color: #bbbb00dd;
    border-color: #ffff00;
    box-shadow: 0 0 20px #bbbb00dd;
}
.info-warning::before{
    content: "警告: ";
}
.info-error{
    background-color: #dd0000dd;
    border-color: #ff0000;
    box-shadow: 0 0 20px #dd0000dd;
}
.info-error::before{
    content: "错误: ";
}
#landspace {
    position: fixed;
    top: 5px;
    right: -0.5rem;
    font-size: 0.8rem;
    padding: 0.5rem 0.75rem 0.5rem 0.5rem;
    background-color: black;
    transform: skew(-15deg);
    border-left: 3px solid white;
}
#landspace::before{
    content: "手动横屏";
}
body[landspace="true"] #landspace::before{
    content: "回到竖屏"
}